body {
    font-family: sans-serif;
}

header{background-color: rgb(255, 255, 255);
padding: 20px;
color: rgb(0, 0, 0);
text-align: center;
}

.main-img{margin: 10%;}
nav{background-color: rgb(255, 255, 255);}
nav a{background-color: rgb(255, 255, 255);
margin: ;} 
